@import "tailwindcss";

ody {
  background-color: #f5f7fb;
}

* {
  transition: 0.15s ease-in-out;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 10px;
}
